@import url(../../styles/remedy.css);

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

@font-face {
	font-family: 'Sabon';
	src: url('../../fonts/sabon.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	background: #010e21;
	color: gainsboro;
	font-size: 1rem;
	text-rendering: optimizeLegibility;
  font-family: 'Sabon', sans-serif;
	text-decoration-skip-ink: auto;
	padding: 48px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	margin: 0 0 12px 0;
}

article {
	display: flex;
	flex-direction: column;
	align-items: center
}

h1 {
	font-family: 'Parisienne', cursive;
  font-size: 1.6rem;
	font-weight: normal;
	line-height: 1.2;
	text-align: center;
}

p {
	font-size: 1.2rem;
	line-height: 1.5;
}

a {
	font-family: 'Parisienne', cursive;
	color: thistle;
	margin: 48px 0 0 0;
	font-size: 1.2rem;
	line-height: 1.5;
	text-align: center;
}

a:hover {
	color: gainsboro;
}

figure {
	width: 80vw;
	max-width: 640px;
}

.picture {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#end {
	margin: 48px 0 0 0;
}

.text-center {
	text-align: center;
}

.width-sixty {
	max-width: 60ch;
}
