@import url(../../styles/remedy.css);

@font-face {
	font-family: 'Kippenberger Bold';
	src: url('../../fonts/kippenberger-normal-700.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Kippenberger';
	src: url('../../fonts/kippenberger-normal-400.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	background: lavenderblush;
	color: #000;
	font-size: 1rem;
	text-rendering: optimizeLegibility;
  font-family: 'Kippenberger', sans-serif;
	text-decoration-skip-ink: auto;
	padding: 24px 36px 96px 36px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;;
}

section {
	width: 100%;
}

header {
	margin-bottom: 24px;
}

h1 {
	font-family: 'Kippenberger Bold', sans-serif;
  font-size: 8rem;
	text-transform: uppercase;
	line-height: 1.5;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
	text-transform: uppercase;
	line-height: 1.5;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
	line-height: 1.5;
}

h4 {
	font-family: 'Kippenberger Bold', sans-serif;
  font-size: 6rem;
	text-transform: uppercase;
	line-height: 1.5;
}

p {
	font-size: 1.2rem;
	line-height: 1.5;
}

a {
	color: springgreen
}

a:hover {
	color: darkblue
}

nav {
	margin: 48px 0;
	width: 100%;
}

img {
	border-radius: 8px;
}

.full-page-image {
	width: 75vw;
}

.vertical {
	writing-mode: vertical-rl;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.center-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.center-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.end {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.double {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 36px;
	justify-items: center;
	align-items: center;
}

.double-text {
	min-width: 85vw;
	min-height: 65vh;
}

.rotate {
	transform: var(--deg)
}

.animate-1 {
	opacity: 0;
	animation-name: animate-in;
	animation-fill-mode: forwards;
  animation-duration: 1s;
	animation-delay: 150ms;
}

.animate-2 {
	opacity: 0;
	animation-name: animate-in;
	animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 350ms;
}

.animate-3 {
	opacity: 0;
	animation-name: animate-in;
	animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 550ms;
}

@keyframes animate-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (min-width: 800px) {
  .double {
    grid-template-columns: 1fr 1fr;
  }

	img {
		width: 100%;
	}
}
