body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodycontainer {
  max-width: 1000px;
  padding-bottom: 48px;
}

.story {
  padding: 1.5rem;
  background-image: url("../images/googly_skull_banner.jpg");
  height: 350px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 400px) {
    background-position: -15em;
    padding: 1rem;
  }

  @media only screen and (min-width: 401px)  and (max-width: 750px) {
    background-position: -10em;
  }
}

.story-text {
  width: 43%;
  font-size: 1rem;

  @media only screen and (max-width: 400px) {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0 0.5rem;
    border-radius: 0.25rem;
  }
  
  @media only screen and (min-width: 401px)  and (max-width: 750px) {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0 0.5rem;
    border-radius: 0.25rem;
  }
}

h1 {
  font-style: italic;
  color: crimson;
}

h2 {
  color: crimson;
  font-style: italic;
  font-size: 1rem;
}